<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<configSections>
		<section name="daabProviders" type="YX.DBUtility.DAABSectionHandler, YX.DBUtility">
		</section>
	</configSections>
	<daabProviders>
		<!-- sqlserver/oracle/odbc/oleDb -->
		<!-- 工作流系统使用的数据库实例名 -->
		<daabProvider name="WorkFlow" connKey="WFConnString" type="sqlserver" />
		<!-- 办公管理系统使用的数据库实例名 -->
		<daabProvider name="OA" connKey="OAConnString" type="sqlserver" />
	</daabProviders>
	<connectionStrings>
		<!--System.Data.SqlClient/System.Data.OracleClient -->
		<add name="WFConnString" connectionString="Data Source=.;Initial Catalog=YX_SLTD_TEST;User ID=sa;Password=1" providerName="System.Data.SQLClient" />
		<add name="OAConnString" connectionString="Data Source=.;Initial Catalog=YX_SLTD_TEST;User ID=sa;Password=1" providerName="System.Data.SQLClient" />
		<add name="oa" connectionString="Data Source=.;Initial Catalog=YX_SLTD_TEST;User ID=sa;Password=1" providerName="System.Data.SqlClient" />

	</connectionStrings>
	<appSettings>
		<!--保存的用户票据Cookie名称-->
		<add key="ProCookies" value="yxkj_ticket"></add>
		<!--站点地址，手机接口中需要调用-->
		<add key="WebUrl" value="http://61.164.248.165:12241"></add>
	</appSettings>
	<system.web>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false">
			<controls>
				<add assembly="YX.Controls" namespace="YX.Controls" tagPrefix="YX" />
			</controls>
		</pages>
		<compilation debug="true" targetFramework="4.0" />
		<authentication mode="Windows" />
		<customErrors mode="Off"></customErrors>
		<httpRuntime maxRequestLength="204800000" executionTimeout="600" requestValidationMode="2.0" />
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" responseHeaderEncoding="utf-8" />
		<httpHandlers>
			<add verb="POST,GET" path="ajaxpro/*.ashx" type="AjaxPro.AjaxHandlerFactory, AjaxPro" />
		</httpHandlers>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true">
		</modules>
		<httpErrors errorMode="DetailedLocalOnly" />

	</system.webServer>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
	</system.serviceModel>
</configuration>
